.container{
    
  justify-content: center;
  align-items: center;
}

#input{ 
    flex-basis: 100%;
    min-width: 0;
}

.header{
    margin-top: 20px;
}

.form-group{
    margin-top: 20px;
}

.btn btn-primary{
    margin-right:10px;
}
