
<div class="container" id="account-modal">
  <div class="space"></div>
  <div class="position-relative">
    <h2 class="header">My account</h2>
    <div class="position-absolute top-0 end-0">
      <button type="button" class="btn-close" aria-label="Close" (click) ="closeModal()"></button>
  </div>
  </div>

<div class="account-form" >
	<form >
    <div class="space"></div>
          <div class="d-flex justify-content-center"> 
            <button type="submit" class="btn btn-primary btn-lg" (click)="openLoginDialog()" style='margin-right:16px'>LogIn</button>
            <button
              type="button"
              (click)="openRegisterDialog()"
              class="btn btn-primary btn-lg">Register
            </button>
          </div>
          <div class="iconspace"></div>
          <div class="pointer" onclick="location.href='#'">
          <div class="container">
          <div class="row">
            <div class="bi bi-bag clickable-row"><span>Orders</span></div>
            <div class="bi bi-heart clickable-row"><span>Favourites</span></div>
           <div class="bi bi-gift clickable-row"><span>Points</span></div>
           <div class="bi bi-percent clickable-row"><span>Stamp cards</span></div>
           <div class="bi bi-info-circle clickable-row"><span>Help</span></div>
           <div class="bi bi-postcard-heart clickable-row"><span>Gift cards</span></div>
          </div>
        </div>
      </div>
	</form>
</div>
</div>


