<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
    	<a class="navbar-brand" href="#">
      		<h1>Flower shop</h1>
		</a>
		</div>
	  	
	</div>
		<div (click)="openMenu()">
			<div class="menu-btn">
				<div class="btn-line"></div>
				<div class="btn-line"></div>
				<div class="btn-line"></div>
			</div>
		</div>
	
  </div>
  
</nav> 

