/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

h1,h2{
    position: relative; left: 1em;
}
 .search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
      
    }
.search .fa-location-dot{

 position: absolute;
 top: 10px;
 right: 16px;

}

.form-group{
    position:relative;
    
}

.fa-calendar{
    position:absolute;
    right:10px;
    top:11px;
    z-index:999;

}

.fit-cover {
    object-fit: cover;
  }
  
  @media (min-width: 768px) {
    .fit-cover {
      position: absolute;
    }
  }

  .space {
    height: 4px;
    width: auto;
    display: inline-block;
  }

  .card-img{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }